@font-face {
  font-family: 'Amplify';
	font-style: normal;
  font-weight: 400;
  src: local('AmplifyRegular-Regular'), local('AmplifyRegular-Regular'), url(http://o.aolcdn.com/os/fonts/Amplify/AmplifyRegular-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Amplify';
	font-style: normal;
  font-weight: 700;
  src: local('AmplifyRegular-Bold'), local('AmplifyRegular-Bold'), url(http://o.aolcdn.com/os/fonts/Amplify/AmplifyRegular-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Amplify';
	font-style: normal;
  font-weight: 300;
  src: local('AmplifyRegular-Light'), local('AmplifyRegular-Light'), url(http://o.aolcdn.com/os/fonts/Amplify/AmplifyRegular-Light.woff) format('woff');
}

@font-face {
  font-family: 'Amplify';
	font-style: normal;
  font-weight: 200;
  src: local('AmplifyRegular-UltraLight'), local('AmplifyRegular-UltraLight'), url(http://o.aolcdn.com/os/fonts/Amplify/AmplifyRegular-UltraLight.woff) format('woff');
}
