.swatches {

	> * {
		padding: 10px;
	}

	input {
		background: transparent;
		border: 0;
		cursor: text;
	}

	> *:nth-child(1) {
		background: {
			color: $color-brand;
		}
		input {
			color: lighten($color-brand, 40%);
		}
	}

	> *:nth-child(2) {
		background: {
			color: $color-action;
		}
		input {
			color: lighten($color-action, 40%);
		}
	}

	> *:nth-child(3) {
		background: {
			color: adjust-hue($color-action, 50);
		}
	}

	> *:nth-child(4) {
		background: {
			color: adjust-hue($color-action, 80);
		}
	}

	> *:nth-child(5) {
		background: {
			color: adjust-hue($color-action, 150);
		}
	}

	> *:nth-child(6) {
		background: {
			color: adjust-hue($color-action, 180);
		}
	}

	> *:nth-child(7) {
		background: {
			color: adjust-hue($color-action, 200);
		}
		input {
			color: lighten(adjust-hue($color-action, 200), 40%);
		}
	}

	> *:nth-child(8) {
		background: {
			color: adjust-hue($color-action, 290);
		}
		input {
			color: lighten($color-action, 40%);
		}
	}

	> *:nth-child(9) {
		background: {
			color: $color-function;
		}
	}
}
