* {
	@include box-sizing(border-box);
}

* {
	&::-moz-selection {
		background: {
			color: $color-action;
		}
	}

	&::selection {
		background: {
			color: transparentize($color-action, 0.8);
		}
	}
}

body {
	color: $color-text;
	font: {
		family: $typeface-text;
		size: 18px;
	}
}

h1 {
	font: {
		family: $typeface-special;
		size: 3em;
	}
	text: {
		transform: uppercase;
	}
}

h2 {
	color: darken($color-function, 30%);
	font: {
		size: 2em;
	}
}

h3 {
	color: darken($color-function, 30%);
	font: {
		size: 1.5em;
	}
	margin: {
		bottom: 1em;
		top: 1em;
	}
	padding: 10px 0;
}

blockquote {
	background: {
		color: lighten($color-function, 5%);
	}
	@include border-radius(5px);
	margin: 1em 0;
	padding: 1em;

	footer {
		margin: {
			top: 1em;
		}
	}
}

p {
	margin: {
		bottom: 1em;
	}
}
