* {
	@include box-sizing(border-box);
}

* {
	&::-moz-selection {
		background: {
			color: $color-action;
		}
	}

	&::selection {
		background: {
			color: transparentize($color-action, 0.8);
		}
	}
}

body {
	color: $color-text;
	font: {
		family: $typeface-text;
		size: 18px;
		weight: 300;
	}
	line-height: 1.5;
}

h1 {
	font: {
		family: $typeface-special;
		size: 2em;
		weight: 400;
	}
	text: {
		transform: uppercase;
	}
}

h2 {
	font: {
		family: $typeface-special;
		size: 2em;
		weight: 300;
	}
	text: {
		transform: uppercase;
	}
}

h3 {
	font: {
		family: $typeface-special;
		size: 2em;
		weight: 200;
	}
	text: {
		transform: uppercase;
	}
}

blockquote {
	footer {
		margin: {
			top: 1em;
		}
	}
}

p {
	margin: {
		bottom: 1em;
	}
}

ul {
	list-style-type: square;
	margin: {
		bottom: 1em;
		top: 1em;
	}
}
